body {
    background-color:midnightblue;
    margin: 0;
}
:root {
    --scrollbox-aspect-ratio: calc(483 / 668)
}


/* Graphs */

div.graphcontainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: calc(100vh * 483 / 668);
    margin: 1vh;

    overflow-y: scroll;
    /*scroll-snap-type: y mandatory;*/
}
::-webkit-scrollbar {
    background-color: transparent;
}
::-webkit-scrollbar-track {
    -webkit-appearance: none;
    outline: none;
    background-color: transparent;

    background-image: url("./resources/scroll_track.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
::-webkit-scrollbar-thumb {
    -webkit-appearance: none;
    outline: none;
    background-color: transparent;
    border-radius: 50%;

    background-image: url("./resources/scroll_handle_top.png"), url("./resources/scroll_handle.png"), url("./resources/scroll_handle_bottom.png");
    background-position: top, center, bottom;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 100% auto, 100% 100%, 100% auto;
}
::-webkit-scrollbar-button {
    -webkit-appearance: none;
    outline: none;
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
::-webkit-scrollbar-button:increment {
    background-image: url("./resources/scroll_down.png");
}
::-webkit-scrollbar-button:decrement {
    background-image: url("./resources/scroll_up.png");
}


div.graphbackground {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 76.1%;
    
    background-image: url("./resources/graphbg.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100% 100%;

    /*scroll-snap-align: center;*/
}

div.graph {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
h1.graphtitle {
    height: 4%;
    width: 100%;
    margin: 0;
    padding-top: 1.75%;
    padding-bottom: 3%;

    color: white;
    font-family: "Cormorant Garamond", serif;
    font-size: calc(calc(100vw - calc(100vh * var(--scrollbox-aspect-ratio))) * 0.03);
    text-align: center;
}
canvas.graphcanvas {
    position: absolute;
    bottom: 12%;
    top: 10%;
    left: 4%;
    right: 4%;
}

/* Sliders */

div.sliders {
    position: fixed;
    right: 0;
    height: calc(100vh - 1vh);
    width: calc(var(--scrollbox-aspect-ratio) * 99vh);
    margin: 1vh;
    margin-bottom: 0;

    background-image: url("./resources/option_panel_bg.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
}
h1.sliderboxtitle {
    position: absolute;
    top: 0;
    bottom: calc(100% * calc(668 - 64) / 668);
    left: 0;
    right: 0;
    margin-top: calc(100% * 36.5 / 668);
    margin-bottom: calc(100% * 15 / 668);
    margin-left: calc(100% * 56 / 483);
    margin-right: calc(100% * 56 / 483);

    color: white;
    font-family: "Cormorant Garamond", serif;
    font-size: calc(calc(72.305389vh) * 0.04);
    text-align: center;
}
div.sliderframe {
    /* Can contain 14 rows */
    position: absolute;
    top: 17.664670658%;
    bottom: 7.185628742%;
    left: 0;
    right: 0;
}
div.sliderrow {
    position: relative;
    margin-left: 1%;
    margin-right: 1%;
    height: calc(100% / 14); /* 1/14 */
}
h3.sliderlabel {
    position: absolute;

    margin: 1%;
    left: 4%;
    top: 50%;
    transform: translateY(-70%);

    color: white;
    font-family: "Cormorant Garamond", serif;
    font-size: 2.5vh;
    white-space:nowrap;
}

.slider {
    position: absolute;
    width: 40%;
    height: 20%;
    right: 4%;
    top: 50%;
    margin: 1%;
    transform: translateY(-100%);
    -webkit-appearance: none;
    outline: none;
    background-image: url("./resources/sliderbackground.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.slider::-webkit-slider-thumb {
    appearance: none;
    width: 2vh;
    height: 2vh;
    border: 0;
    background: url("./resources/sliderhandle.png");
    background-repeat: no-repeat;
    background-size: 2vh 2vh;
}
.slider::-moz-range-thumb {
    width: 2vh;
    height: 2vh;
    border: 0;
    background: url("./resources/sliderhandle.png");
    background-repeat: no-repeat;
    background-size: 2vh 2vh;
}
.slider::-ms-thumb {
    appearance: none;
    width: 2vh;
    height: 2vh;
    border: 0;
    background: url("./resources/sliderhandle.png");
    background-repeat: no-repeat;
    background-size: 2vh 2vh;
}

/** Patreon Button */
iframe.patreon-widget {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 9;
}